@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	color: #ebebeb;
	background-color: #252525;
	padding: 2rem 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
}

a {
	color: rgb(233, 158, 158);
}

.red {
	color: red;
}

.fontUp {
	font-size: 3rem;
}

.bg-white {
	background-color: rgb(147, 147, 147);
}

.bordo {
	border: 1rem dashed tomato;
}

.txtViola {
	color: violet;
}

.grassetto {
	font-weight: bold;
}

.txtOrange {
	color: orange;
}
